@use '../../variables';

.search-header {
  background-color: variables.$main-color;
  padding: variables.$default-padding;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    max-width: variables.$containers-max-width;
    margin: auto;

    &__logo {
      width: 55px;
      cursor: pointer;
    }

    &__input-container {
      display: flex;
      align-items: center;
      height: 35px;
      width: calc(100% - 85px);

      &__input {
        padding: 2px 10px;
        height: 100%;
        width: 100%;
        border-width: 0;
        border-radius: 3px 0 0 3px;
        outline: 0;
        box-sizing: border-box;

        @media all and (min-width: variables.$desktop-min-breakpoint) {
          padding: 2px 18px;
          font-size: 18px;
        }
      }

      &__button {
        background-color: variables.$gray;
        padding: 8px;
        height: calc(100% - 16px);
        border-radius: 0 3px 3px 0;
        cursor: pointer;

        &:hover {
          background-color: #e1e1e1;
        }

        &:active {
          background-color: #d5d5d5;
        }
      }
    }
  }
}