@use '../../variables';

.products-list {
  @include variables.section;

  &__container {
    border-radius: variables.$default-section-border-radius;
    background-color: #fff;

    hr {
      width: 97%;
      margin: 0 auto;
      border-width: 2px 0 0 0;
      border-color: #ffffff15
    }
  }
}