@use "../../variables";

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 46px;
  @include variables.section;

  ul {
    padding: 0;
    text-align: start;

    li {
      display: inline;
      color: #999999;
      font-size: 14px;

      &.last {
        font-weight: bold;
      }
    }
  }
}